<phpunit>
  <testsuites>
    <testsuite name="Objects_Arguments">
      <file>tests/StringArgumentTest.php</file>
      <file>tests/NumberArgumentTest.php</file>
      <file>tests/BooleanArgumentTest.php</file>
      <file>tests/AfterArgumentTest.php</file>
      <file>tests/ArrayArgumentTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>