body {
    overflow: hidden;
    color:#e6e6e6;
    background-color:black;
}


#sideBar{
    float: left;
    width: 20%;
    height: 100%;
}


#mainPannel{
    overflow: hidden;

    background-color:transparent;
}

#forms{
    
    padding-top:10px;
    padding-left:10px;
}

.instanceForm{
    overflow: hidden;
    padding-left:5px;
}

.instanceSelector{
    
    float:left;
    background-color:transparent;
    color:#e6e6e6;
    /*height: 90%;*/
}

#instanceForm{
    
    overflow: hidden;
    height:100%;    
}


.sectionTitle{
    
    font-weight:bold;
    color:white;
}

.user{
    
    padding-left:8px;
}

.moduleSelected{
        
    background-image: -ms-linear-gradient(bottom, #D69600 0%, #FFB300 100%);
    background-image: -moz-linear-gradient(bottom, #D69600 0%, #FFB300 100%);
    background-image: -o-linear-gradient(bottom, #D69600 0%, #FFB300 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #D69600), color-stop(1, #FFB300));
    background-image: -webkit-linear-gradient(bottom, #D69600 0%, #FFB300 100%);
    background-image: linear-gradient(to top, #D69600 0%, #FFB300 100%);

    
    color:black;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.sideBarLine{
    
    float:left;
    width:100%;
}

.mainModule{
    
    float:left;
    margin-right:60px;
    padding-left:8px;
}
