body {
      overflow: hidden;
}


#sideBar{
    float: left;
    width: 20%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    color: black;
}


#mainPannel{
    overflow: hidden;
    height:100%;
}

#instanceForm{
    overflow: hidden;
    height:100%;    
}

.instanceSelector{
    
    float:left;
    height: 93%;
}

#instanceForm{
    
    overflow: hidden;
    height:100%;    
}

.user.selected{
    
        background-color:orange;
}

.sideBarLine{
    
    float:left;
    width:100%;
}

.sideBarLine.selected{

        background-color:orange;
}

.mainModule{
    
    float:left;
    margin-right:60px;
}
